<!--メニュー用のHTML-->
<!DOCTYPE html>
<!--Thymeleafと、レイアウトを使うための宣言/ layout.htmlにこのHTMLを組み込む宣言/権限によって項目を表示するか決める宣言-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
</head>

<body>
	<!--キー名menuでlayoutから読込/背景をうっすいグレーに設定-->
	<div layout:fragment="menu" class="bg-light">
		<!--リストを入れる/ボタン風で縦に並んでる-->
		<ul class="nav nav-pills nav-stacked">
			<!--見た目だけの要素なのでアクセシビリティとしての意味なし-->
			<li role="presentation">
				<!--ユーザー一覧を押すと/user/listにGetリクエストが送られるナビゲーションリンク-->
				<a class="nav-link" th:href="@{'/user/list'}">ユーザ一覧</a>
			</li>
			<!-- 見た目だけの要素なのでアクセシビリティとしての意味なし/ADMIN権限を持つユーザーにだけこのタグ内容を表示する -->
			<li role="presentation" sec:authorize="hasRole('ADMIN')">
				<!--アドミン専用を押すと/adminにGetリクエストが送られるナビゲーションリンク-->
				<a class="nav-link" th:href="@{'/admin'}">アドミン専用</a>
			</li>
		</ul>
	</div>
</body>

</html>