<!DOCTYPE html>
<!-- Thymeleafを使うための宣言 -->
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- 文字コードをUTF-8に設定 -->
	<meta charset="UTF-8">
	</meta>

	<!-- PCやスマホでページをちゃんと見えるようにするための設定 -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- webJarsでbootstrapライブラリのmin.cssを読み込む -->
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

	<!-- login.cssを読み込む -->
	<link rel="stylesheet" th:href="@{/css/login/login.css}">

	<!-- webJarsでjqueryライブラリのmin.jsを読み込む -->
	<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>

	<!-- webJarsでbootstrapライブラリのmin.jsを読み込む -->
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>

	<!-- タイトルがログイン -->
	<title>ログイン</title>
</head>

<!-- bodyタグ、クラス属性はbg-light -->

<body class="bg-light">

	<!-- divタグ、クラス属性はtext-center -->
	<div class="text-center">

		<!-- formタグ、クラス属性はform-login、サーバーの/loginにPOSTリクエストを送る -->
		<form method="post" th:action="@{/login}" class="form-login">

			<!-- ログインと表示 -->
			<h2>ログイン</h2>
			<!--ログインが失敗ならエラーメッセージを赤文字で表示/message.propertiesで設定したキーの値が表示される-->
			<p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null"
				th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}" class="text-danger">
				ログインエラーメッセージ
			</p>

			<!-- ユーザーID -->
			<!-- divタグ、クラス属性はform-group -->
			<div class="form-group">

				<!-- labelタグ、クラス属性はsr-only、userid入力のラベル -->
				<label for="userId" class="sr-only">userId</label>

				<!-- inputタグ、クラス属性はform-control、userid入力欄 -->
				<input type="text" class="form-control" placeholder="ユーザーID" name="userId" />
			</div>

			<!-- パスワード -->
			<!-- divタグ、クラス属性はform-group -->
			<div class="form-group">

				<!-- labelタグ、クラス属性はsr-only、password入力のラベル -->
				<label for="password" class="sr-only">password</label>

				<!-- inputタグ、クラス属性はform-control、password入力欄 -->
				<input type="text" class="form-control" placeholder="パスワード" name="password" />
			</div>

			<!-- inputタグ、クラス属性はbtn btn-primary、ログインボタン -->
			<input type="submit" value="ログイン" class="btn btn-primary" />
		</form>

		<!-- aタグ、新規登録画面はこちら押すとsignupに移る -->
		<a th:href="@{/user/signup}">新規登録はこちら</a>
	</div>
</body>

</html>